{% extends 'base.html.twig' %}

{% block title %}Hello UserInterfaceController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    {% block javascripts %}
{#        <script src="{{ asset('ext-modern-all.js') }}" type="text/javascript"></script>#}
        <script src="{{ asset('ext-all-debug.js') }}" type="text/javascript"></script>
        <script src="{{ asset('app-evaluator/app.js') }}" type="text/javascript"></script>
{#        <script src="{{ asset('my-app/index.html') }}" type="text/javascript"></script>#}
    {% endblock %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/aydar/project/app/www/vygonC/src/Controller/UserInterfaceController.php'|file_link(0) }}">src/Controller/UserInterfaceController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/aydar/project/app/www/vygonC/templates/user_interface/index.html.twig'|file_link(0) }}">templates/user_interface/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
